# Azure DevOps Configuration
AZURE_ORG=your-organization-name
AZURE_PROJECT=your-project-name
AZURE_PAT=your-long-pat-token-here

# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
BOOMI_TOKEN=b7b65e3e-49b6-4301-bf8a-d4223d643b12