# --- Python Environment ---
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class

# --- Security ---
.env

# --- VS Code ---
.vscode/
*.code-workspace
.history/

# --- Windows System Files ---
Thumbs.db
desktop.ini

# --- Flask / Logs ---
instance/
.pytest_cache/
*.log

# --- Databases ---
*.db
*.sqlite
*.sqlite3

# --- Debug & Dumps ---
*_dump.json
